@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  transition: all 0.4s ease-in-out;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(5, 0, 15);
}
body.overlay-active {
  overflow: hidden;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0);
}
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.head-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  padding: 25px 40px;
  background-color: rgb(5, 0, 15);
}
.head-nav h1 {
  color: white;
}
.head-nav ul.navigation {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
  z-index: 100;
}
.head-nav ul.navigation a.cancel {
  display: none;
}
.head-nav ul.navigation a {
  position: relative;
  font-size: 1.2rem;
  color: white;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  text-decoration: none;
}
.head-nav ul.navigation a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 40px;
  padding: 4px;
  border-radius: 5px;
  transition: all 0.1s linear;
  border: 0px solid white;
}
.head-nav ul.navigation a:hover::before {
  border: 2px solid white;
}
.head-nav .harmburger {
  display: none;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  padding: 50px;
  padding-right: 0px;
  border-bottom: 4px solid rgba(221, 221, 221, 0.137);
}
.desc {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding-left: 25px;
}
.desc h2 {
  font-size: 1.8rem;
  color: white;
  font-weight: 600;
}
.desc h2.name {
  font-size: 2.9rem;
  font-weight: 600;
  margin-bottom: 15px;
  background: linear-gradient(
    270deg,
    #ff4b59,
    #ff9057,
    #ffc764,
    #50e3c2,
    #4a90e2
  );
  background-size: 400% 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 6s ease infinite;
}
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.desc p {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.desc a {
  cursor: default;
}
.desc button {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-family: "Orbitron", sans-serif;
  font-weight: 650;
  background-color: rgb(43, 0, 129);
  color: white;
  cursor: pointer;
}
.hero-image {
  width: 750px;
}
.hero-image img {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 100%;
  max-width: 850px;
  margin-top: 60px;
  margin-bottom: 80px;
  gap: 40px;
}
._head {
  grid-column: 1 / span 3;
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1.2px;
}
.skills ._box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  height: 320px;
  border: 2px solid rgba(221, 221, 221, 0.137);
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.6);
}
.skills ._box a {
  position: absolute;
  bottom: 10px;
  font-size: 1.2rem;
  color: rgba(221, 221, 221, 1);
  text-decoration: none;
  padding: 7px 20px;
  border: 1px solid rgba(221, 221, 221, 0.137);
  border-radius: 8px;
}
.hrl {
  width: 100%;
  border-bottom: 4px solid rgba(221, 221, 221, 0.137);
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 100%;
  max-width: 1080px;
  margin-top: 80px;
  gap: 20px;
}
.projects ._head {
  grid-column: 1 / span 2;
  margin-bottom: 40px;
}
.projects ._box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 320px;
  padding: 10px;
  border: 2px solid rgba(221, 221, 221, 0.137);
  background-color: rgba(0, 0, 0, 0);
}
.projects ._box img {
  width: 100%;
}
.projects ._box a {
  position: absolute;
  bottom: 15px;
  font-size: 1.2rem;
  color: rgba(221, 221, 221, 1);
  text-decoration: none;
  padding: 7px 20px;
  border: 1px solid rgba(221, 221, 221, 0.137);
  background-color: rgba(5, 0, 15, 0.99);
  border-radius: 8px;
  text-align: center;
}
.projects ._box a:hover {
  background-color: rgba(189, 189, 189, 0.303);
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 20px;
  gap: 20px;
  background-color: black;
  color: white;
}
.contact .contact-icon {
  display: none;
}
.contact .contact-text {
  width: 100%;
  max-width: 1200px;
  padding: 10px 20px;
  font-size: 1.1rem;
}
.contact .contact-text p {
  width: 950px;
}
.contact .contact-information {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact .contact-information span {
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
}
.contact .contact-information a {
  text-decoration: none;
}
h2.end {
  color: rgba(128, 127, 127, 0.877);
}

/* Source Code Button */
.source_code {
  position: absolute !important;
  bottom: 15px !important;
  right: 15px !important;
  width: 35px !important;
  height: 35px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 6px !important;
  border: 1px solid rgba(221, 221, 221, 0.3) !important;
  background-color: rgba(43, 0, 129, 0.8) !important;
  transition: all 0.3s ease !important;
  cursor: pointer !important;
  padding: 0px !important;
}

.source_code img {
  width: 30px;
  height: 30px;
}

.source_code:hover {
  background-color: rgba(189, 189, 189, 0.4) !important;
  transform: scale(1.1) !important;
  border: 1px solid white !important;
}

@media only screen and (max-width: 1024px) {
  .intro {
    margin-top: 70px;
  }
  .desc {
    width: 450px;
  }
  .hero-image {
    width: 450px;
  }
  .projects {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 60px auto 0;
    gap: 20px;
  }
  .projects ._head {
    grid-column: 1 / span 1;
    text-align: center;
  }

  .projects ._box {
    width: 100%;
    height: max-content;
  }
}
@media only screen and (max-width: 950px) {
  .head-nav {
    padding: 20px;
  }
  .head-nav ul.navigation li {
    width: 80px;
    font-size: 1.05rem;
  }
  .intro {
    margin-top: 60px;
  }
  .desc {
    padding: 0px;
    width: 425px;
  }
  .desc h2 {
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
  }
  .desc h2.name {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .desc p {
    color: white;
    font-size: 0.95rem;
  }
  .hero-image {
    width: 400px;
  }

  .contact .contact-text p {
    width: 90%;
  }
}

@media only screen and (max-width: 850px) {
  .desc {
    width: 400px;
  }
  .hero-image {
    width: 350px;
  }
  ._head {
    grid-column: 1 / span 2;
  }
  .skills {
    grid-template-columns: 1fr 1fr;
    width: 600px;
  }
}
@media only screen and (max-width: 768px) {
  .head-nav ul.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0px;
    width: 250px;
    height: 100vh;
    padding: 30px 0px;
    background-color: rgba(5, 0, 15, 0.8);
    backdrop-filter: blur(10px);
    filter: brightness(4.5);
    box-shadow: -2px 20px 100px 5px;
    transform: translateX(1000px);
    transition: all 0.3s ease-in;
  }
  .overlay.show {
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    pointer-events: all;
  }
  .head-nav ul.navigation.show {
    transform: translateX(0px);
  }
  .head-nav ul.navigation a {
    width: 100%;
    border-radius: 0px;
    height: 50px;
    justify-content: left;
    padding-left: 35px;
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    border: 1px solid rgba(255, 255, 255, 0);
  }
  .head-nav ul.navigation a:hover {
    border: 1px solid white;
  }
  .head-nav ul.navigation a.cancel {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0px 30px;
    margin-bottom: 20px;
  }
  .head-nav ul.navigation a.cancel img {
    width: 30px;
    height: 30px;
  }
  .head-nav ul.navigation a:hover::before {
    display: none;
  }
  .head-nav .harmburger {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .intro {
    flex-direction: column;
    padding: 30px;
    margin-top: 100px;
  }
  .desc {
    width: 600px;
    padding: 20px;
  }
  .desc h2 {
    font-size: 1.9rem;
    color: white;
    font-weight: 600;
  }
  .desc h2.name {
    font-size: 2.9rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .desc p {
    color: white;
    font-size: 1.2rem;
  }
  .hero-image {
    width: 600px;
  }
  .skills {
    grid-template-columns: 1fr 1fr;
    width: 460px;
  }
  .projects {
    width: 650px;
  }
  .contact .contact-text p {
    width: 450px;
  }
}
@media only screen and (max-width: 650px) {
  .desc {
    width: 520px;
  }
  .hero-image {
    width: 500px;
  }
  .projects {
    width: 500px;
  }
  .contact .contact-text {
    padding: 0px;
  }
  .contact .contact-text p {
    font-size: 0.9rem;
  }
  .contact .contact-information {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .contact .contact-information span {
    display: none;
  }
  .contact .contact-information .contact-icon {
    display: block;
  }
}
@media only screen and (max-width: 560px) {
  .desc {
    width: 90%;
    padding: 0px;
  }
  .hero-image {
    width: 100%;
  }
  .skills {
    grid-template-columns: 1fr;
    width: 350px;
    gap: 20px;
  }
  ._head {
    grid-column: 1 / span 1;
  }
  .skills ._box {
    height: 300px;
  }
  .skills ._box a {
    bottom: 20px;
  }
  .skills ._box img {
    width: 180px;
  }
  .projects {
    width: 450px;
  }
}
@media only screen and (max-width: 520px) {
  .intro {
    padding: 0px;
    padding-top: 30px;
  }
  .desc {
    width: 90%;
  }
  .desc p {
    font-size: 1rem;
  }
  .projects {
    width: 400px;
  }
  .contact .contact-text p {
    width: 100%;
  }
}
@media only screen and (max-width: 435px) {
  .desc h2 {
    font-size: 1.6rem;
  }
  .desc h2.name {
    font-size: 2.4rem;
  }
  .desc p {
    font-size: 0.95rem;
    letter-spacing: 0.1rem;
  }
  .projects {
    width: 95%;
  }
}
@media only screen and (max-width: 350px) {
  .desc h2 {
    font-size: 1.4rem;
  }
  .desc h2.name {
    font-size: 2.2rem;
  }
  .desc p {
    font-size: 0.8rem;
  }
  .projects {
    width: 100%;
  }
}
